* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

input {
  display: block;
  margin: 20px 0;
  padding: 15px;
  font-size: 20px;
  width: 500px;
  border: 1px solid #999;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 auto;
  background-color: rgb(0, 119, 213);
  color: white;
  border: none;
  display: block;
}
