* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  width: 500px;
}

input {
  border: 1px solid #999;
  display: block;
  font-size: 20px;
  margin: 20px 0;
  padding: 15px;
  width: 500px;
}

button {
  background-color: rgb(0, 119, 213);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto;
}
