/*
Copyright 2014 The Chromium Authors. All rights reserved.

Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file or at
https://developers.google.com/open-source/licenses/bsd
*/

html, body {
  height: 100%;
  margin: 0;
  background-color: #fafafa;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

hr {
  border-color: rgb(196, 196, 196);
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 30px 0;
}

/* Clearfix */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.container {
  width: 80%;
  margin: 50px auto;
}

@media (min-width: 481px) {
  .container {
    width: 400px;
  }
}
